<% provide :title, 'Sign up' %>

<div class="signup-info">
  <h2 class="signup-title">Sign Up</h2>
  <p> Its free? Why not sign up? </p>
  <%= render 'signup_form' %>
  <%# <%= render "devise/shared/links" %1> %>
</div>
