<%= gravatar_for current_user, size: 150 %>
<%= @user.full_name %>

<p class="gravatar-edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
</p>
