<h2> Friends </h2>

<% friends.each do |friend| %>
  <p class="friend">
    <%= friend.full_name %>
    <%= link_to "Remove friend", friendship_path(friend, friend_id: friend.id), 
                                 method: :delete %>
  </p>
<% end %>
