<h2> Possible Friends </h2>

<div class="possible-friends">
<% users.each do |user| %>
  <p class="possible-friend">
    <%= link_to user_path(user) do %>
      <%= gravatar_for(user, size: 20) %>
      <%= user.full_name.titleize %>
    <% end %>

    <span class="add-friend">
      <%= link_to "Add", friend_requests_path(friend_id: user.id),
        method: :post %>
    </span>
  </p>
<% end %>
</div>
