<h2> Possible Friends </h2>

<% users.each do |user| %>
  <p class="possible-friends">
  <%= user.full_name %>
  <%= link_to "Add", friend_requests_path(friend_id: user.id),
                            method: :post %>
  </p>
<% end %>
