<h2> Sent requests </h2>
<div class="sent-friends">
  <% sent_requests.each do |friend| %>
    <p class="sent-friend">
      <%= link_to user_path(friend) do %>
        <%= gravatar_for(friend, size: 20) %>
        <%= friend.full_name.titleize %>
      <% end %>

      <span class="remove-friend">
        <%= link_to "Cancel request", friend_request_path(friend), method: :delete %>
      </span>
    </p>
  <% end %>
</div>
