// colors

$dark-purple: #745296;
$light-purple: #bd93f9;

// universal

.btn {
  box-shadow: none;
  padding: 0.4rem;
  border: 0.25px solid black;
}

.btn-purple {
  color: white;
  background-color: $light-purple;
  &:hover {
    background-color: blueviolet;
  }
}

/* login */

.login-container {
  background-color: $dark-purple;
  width: 100%;
  height: 5.5rem;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 0.5rem;
}


h1.title {
  color: white;
  text-align: left;
  font-size: xx-large;
  padding-left: 10rem;
  padding-top: 1.5rem;
  width: 30%;
}

.login-form {
  width: 50%;
  color: white;
  font-size: small;
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
  overflow: hidden;
}

.login-selection {
  text-align: right;
  display: inline-block;
}

.login-label {
  text-align: left;
  display: block;
}

.login-field {
  padding-right: 1rem;
  margin-right: 1rem;
  padding: 0.25rem;
  border: none;
}


// signup

.signup-form {
  display: flex;
  float: right;
  justify-content: right;
  flex-wrap: wrap;
  text-align: right;
}

.signup-form > div {
  text-align: right;
  flex-direction: column;
  width: 100%;
}

.signup-selection {
}


.signup-label {
  
}

