// colors

$dark-purple: #745296;
$light-purple: #bd93f9;
$dark-green: #598d45;
$light-green: #63a450;
$gray: #e9ebee;

// universal

body {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-purple;
  padding: 0.2rem 0.5rem;

  &:hover, &:focus {
    color: white;
    background-color: $light-purple;
  }
}

.btn {
  box-shadow: none;
  padding: 0.4rem;
  border: none;
}

.btn-purple {
  color: white;
  background-color: $light-purple;
  &:hover {
    background-color: blueviolet;
  }
}

.btn-lg {
  height: 2.5rem;
  width: 20rem;
  padding: 1rem;
}

.btn-big {
  width: 15rem;
  padding: 1rem;
}

.btn-green {
  color: white;
  background-color: $dark-green;
  // padding: 0.5rem 1.5rem;
  padding: 0.75rem 4rem;
  &:hover {
    background-color: $light-green;
  }
  border-radius: 10px;
}

.container {
  margin: 0;
  padding: 0;
  padding: 1rem 0;
  background-color: $gray;
  min-height: calc(100vh - 8rem);
}

textarea {
  resize: none;
  text-align: left;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

// navbar

.navbar {
  width: 100vw;
  height: 7vh;
  display: flex;
  list-style: none;
  background-color: $dark-purple;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar > li {
  margin-right: 3rem;
  a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    &:hover {
      background-color: $light-purple;
    }
  }
}

.logout {
  margin-left: -1rem;
  padding-right: 15vw;
}


li.profile {
  margin-left: auto;
  margin-right: 1rem;
}

.navbar > li.profile > a {
  padding: 0.2rem 0.5rem;
  display: table;
  img {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin-left: 0;
  }
  span {
    margin-left: 0;
    display: table-cell;
    padding: 0 0.4rem;
    vertical-align: middle;
  }
}

li.explore {
  margin-left: auto;
}

/* login header */

.login-header-container {
  background-color: $dark-purple;
  width: 100vw;
  height: 5.5rem;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

h1.title {
  color: white;
  text-align: left;
  font-size: xx-large;
  padding-left: 10rem;
  padding-top: 1.5rem;
  width: 41%;

  a {
    color: white;
    text-decoration: none;
  }
}

.login-form {
  color: white;
  font-size: small;
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
  overflow: auto;
}

input.login-field {
  font-size: x-small;
  border: 0.5px solid gray;
}

.login-selection {
  text-align: right;
  display: inline-block;
}

.login-label {
  text-align: left;
  display: block;
}

.login-field {
  padding-right: 1rem;
  margin-right: 1rem;
  padding: 0.25rem;
  border: none;
}

.forgot-password-link {
  position: absolute;
  top: 8vh;
  left: 65%;
  a {
    font-size: small;
    color: white;
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    &:hover {
      background: $light-purple;
    }
  }
}

// login page

div.login-box-container {
  margin: 0 auto;
  padding-bottom: 2rem;
}

div.login-box {
  background-color: white;
  margin: 0 auto;
  width: 40%;
  padding: 2rem;
  div {
    padding: 1rem;
  }
  a {
    display: block;
    text-decoration: none;
  }
}

.main-login-field {
  padding: 0.4rem;
  padding-left: 1rem;
  border-radius: 4px;
  border: 0.5px solid gray;
  box-shadow: none;
}
// signup

.signup-title {
  margin: 1rem 0 0 0;
  padding: 0;
}

// signup form
.signup-info {
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: 10rem;
  width: 40%;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.signup-info.field {
  margin: 0;
  padding: 0;
  text-align: left;
}

div.signup-btn {
  // justify-content: center;
  margin-top: 2rem;
  width: 100%;
  margin-left: 2rem;
}

.signup-field {
  padding: 0.4rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 0.5px solid gray;
  box-shadow: none;
}


div.gender.field {
  margin-bottom: 0.5rem;
  padding: 0;
}

// gender radio buttons
div.gender.field > label {
  margin-right: 1rem;
}

.gender-label {
  margin-top: 0;
}

.gender-label, .birthday-label {
  font-size: x-large;
  color: $dark-purple;
}

div.birthday.field {
  select {
    padding: 0.5rem 1rem;
  }
}

// errors and notices

#error_explanation {
  color: red;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid red;
}

.alert.alert-danger {
  color: red;
  padding-top: 2rem;
  font-size: xx-large;
}

.alert, .notice {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: large;
  text-align: left;
  background-color: lightblue;
}

.alert-alert {
  background-color: cornsilk;
}

.field_with_errors > input {
  color: red;
  border: 0.5px solid red;
}

// work around for the header with the login
.field_with_errors > .login-field {
  color: black;
  border: none;
}

// password reset


// dropdown

.dropbtn {
  background-color: $dark-purple;
  display: inline;
  padding: 0.4rem 1rem;
  color: white;
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $light-purple;
  }
}

.dropdown {
  margin-left: -1rem;
  margin-right: 2rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 0.5rem;
  text-align: left;
  color: black;
  text-decoration: none;
  display: block;
  font-size: small;
}

.dropdown a {
  &:hover {background-color: #ddd;}
}

.show {display: block;}

.dropdown-item {
  font-size: small;
}

.dropbtn > .count {
  position: absolute;
}

.fa-users {
  padding-right: 0.2rem;
}

.fa-caret-down {
  padding-left: 0.5rem;
}

.notifications-btn > .fa-caret-down {
  padding-left: 0.8rem;
}

// Feed items

.feed {
  text-align: left;
  display: flex;
  flex-direction: flex-column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

// Posts

.post-container {
  width: 100%;
}

.post-item {
  border: 2px solid $light-purple;
  margin: 0 auto;
  width: 35%;
  margin-top: 1rem;
  text-align: left;
}


.post-item > * {
  padding-left: 1rem;
}

.post-time, {
  font-size: x-small;
  margin: -1rem;
}

.comment-time {
  font-size: x-small;
  margin-top: -0.5rem;
}

.post-links, .post-counts {
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  margin: 0 auto;
  padding-right: 0;
}

.post-counts {
  font-size: small;
  padding: 0;
}

.post-comments-count {
  text-align: right;
  a {
    padding: 0.2rem 0.5rem;
  }
}

.post-likes-count {
  text-align: left;

  * {
    &:hover, &:focus {
      background-color: unset;
      color: $dark-purple;
    }
  }

  a {
    padding: 0;
    padding-left: 0.2rem;
  }
}

.post-counts > * {
  width: 48%;
}

.post-links, .post-links > * > a {
  // color: $dark-purple;
}

.post-like-link {
  border-right: 2px solid gray;
  width: 25%;
}

.post-write-comment {
  width: 75%;
}

.post-links > * > a {
  padding: 0.2rem 1rem;
}

.post-links {
  input {
    padding-left: 0.5rem;
  }
}

.post-comments {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;

  .post-comment {
    width: 400px;
    text-align: left;
  }
}

.commenter {
  font-size: x-small;
  a {
    padding: 0;
  }
}

.post-content {
  padding-top: 1rem;
  font-size: large;
}

.profile-link {
  margin: 0;
  text-align: left;
  padding: 0;
  &:hover {
    padding: 0.1rem 0.25rem;
  }
}


// Pagination

div.pagination {
  margin: 2rem;
}
div.pagination > * {
  font-style: normal;
  padding: 0.2rem 0.5rem;
  border: 1px solid blueviolet;
  color: blueviolet;

  &:hover, &:focus {
    color: white;
    border-color: gray;
  }
}

div.pagination > .disabled {
  color: black;
  border-color: black;
}

div.pagination > .current {
  color: white;
  background-color: $dark-purple;

  &:hover, &:focus {
    border-color: blueviolet;
    color: white;
  }
}

// Gravatar

.gravatar {
  float: left;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.column-1 {
  .gravatar {
    flex-grow: 0;
    width: 70%;
    margin-left: 1.5rem;
 }

 .user-name {
   font-size: xx-large;
   color: black;
   padding: 0;
   margin: 0;
   margin-top: 0.5rem;
 }

 p {
   padding: 0;
   padding-top: 0.5rem;
   margin: 0;
   margin-top: 1rem;
 }
}
.gravatar-edit > .gravatar {
  float: none;
}

// Forgot password

.new-password-container, .login-box {
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;

  .field {
    padding: 0.2rem;
  }

  * {
    margin: 0.5rem;
    padding: 0.2rem 0.5rem;
  }

  .links, .actions {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;

    a, input {
      padding: 0.5rem 1rem;
      margin: 0.2rem auto;
      color: white;
      display: block;
      text-decoration: none;
      background: $light-purple;
      border-radius: 9999px;

      &:hover {
        pointer-events: pointer;
        background: blueviolet;
      }
    }
  }
}

// Show user page

.user-show {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .column-1, .column-3 {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    p {
      width: 80%;

      a {
      }
    }
  }

  .column-2 {
    width: 60%;
  }

  .post-item {
    width: 60%;
  }
}

// friends

.all-friends, .pending-friends, .sent-friends, .possible-friends {
  a {
    padding: 0.5rem;
  }
  margin: 0 auto;
  .gravatar {
    float: none;
  }
}

.remove-friend {
  margin-left: 0.2rem;
  a {
    color: black;
    border: 1px solid gray;
    background: $gray;

    &:hover, &:focus {
      background: lightgray;
    }
  }

}

.add-friend {
  margin-left: 0.2rem;
  a {
    color: white;
    border: 1px solid gray;
    background: $light-purple;

    &:hover, &:focus {
      background: blueviolet;
    }
  }
}


// Editing a user

.user-edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  * {
    margin: 0.5rem auto;
  }
}

.user-edit-field > label {
  font-weight: bold;
}

.user-edit-update, .user-edit-cancel {
  color: white;
  border: none;
  background: $light-purple;
  width: 12rem;
  border-radius: 10px;
  padding: 0.5rem;

  &:hover, &:focus {
    background: blueviolet;
  }
}

