// colors

$light-purple: #745296;

/* login */

.login-container {
  background-color: $light-purple;
  width: 100%;
  height: 5.5rem;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 0.5rem;
}


h1.title {
  color: white;
  text-align: left;
  font-size: xx-large;
  padding-left: 10rem;
  padding-top: 1.5rem;
  width: 30%;
}

.login-form {
  width: 50%;
  color: white;
  font-size: small;
  text-align: left;
  padding-top: 1rem;
  padding-left: 2rem;
  overflow: hidden;
}

.login-selection {
  text-align: right;
  display: inline-block;
}

.login-label {
  text-align: left;
  display: block;
}

.login-field {
  padding-right: 1rem;
  margin-right: 1rem;
}
