<% if user_signed_in? %>
<ul class="navbar">
  <li><%= link_to "Home", root_url %></li>
  <li><%= link_to "Logout", "#" %></li>
</ul>
<% else %>
  <div class='login-container'>
    <h1 class="title"> ParamagicBook </h1>
    <%= render 'layouts/login_form' unless current_page?(new_user_session_path) || !(user_signed_in?) %>
  </div>
<% end %>


