<% if user_signed_in? %>
  <%= render 'layouts/navbar' %>
<% elsif current_page?(signup_path) || current_page?(new_user_registration_path) %> 
  <div class='login-header-container'>
    <h1 class="title"><%= link_to "ParamagicBook", root_url %> </h1>
    <%= render 'layouts/login_form' %>
  </div>
<% end %>

